{{#each data}}
  <div class="artist-result">
    <button
      class="artist-image"
      style="background-image:url('{{thumb}}')"
    ></button>
    <a class="artist-link" target="_blank" href="https://www.discogs.com{{uri}}">{{title}}</a>
  </div>
{{/each}}
