<header class="page-header">
  <a class="login-wrap" href="/spotify">
    {{#if user}}
      <span class="login-text">{{user}}</span>
    {{else}}
      <span class="login-text">Sign In</span>
    {{/if}}
    <i class="fa fa-spotify"></i>
  </a>
</header>
