<div class="login-wrap">
  <i class="fa fa-spotify spotify-icon" id="spotify-icon"></i>
  <div class="login-button-wrap">
    <a class="login-button" id="login-button" href="/login">LOG IN</a>
    <a class="login-button" id="logout-button">LOG OUT</a>
  </div>
</div>
