.page-header {
  @include flex;
  justify-content: flex-end;
  width: 100vw;
  background-color: #222;
  overflow: hidden;
}

.login-wrap {
  @include flex;
  padding: 7px 7px 7px 10px;
}

.login-wrap:hover {
  background-color: #333;
}

.login-text {
  margin-right: 7px;
  font: 15px Helvetica;
  color: #eee;
}

.fa-spotify {
  @include flex;
  color: #84bd00;
  width: 50px;
  font-size: 50px;
}
