body {
  min-height: 100vh;
  background-color: #111;
  padding: 80px 40px 40px 40px;
}

.step {
  justify-content: flex-start;
  padding-bottom: 40px;
}

.step-header {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  color: white;
  font: bold 40px Gidole;
  margin-bottom: 16px;
}

// Artist Search

.artist-search-input {
  width: 100%;
  padding: 8px;
  font: bold 25px Gidole;
  border-radius: 3px;
}

.artist-search-headers {
  align-items: flex-end;
}

.result-count-wrap {
  margin-bottom: 16px;
}

.result-count-wrap span {
  font: bold 24px Gidole;
  color: white;
  white-space: nowrap;
  margin-right: 12px;
}

.result-count {
  font: 20px Gidole;
}

// Artist Result Section

.artist-results-wrap {
  justify-content: flex-start;
  width: 100%;
  height: 300px;
  border: 16px solid #333;
  background-color: #333;
  border-radius: 3px;
  overflow: scroll;
  margin-bottom: 16px;
}

.artist-result {
  flex-direction: column;
  height: 100%;
  min-width: 220px;
  background-color: #444;
  border-radius: 3px;
  padding: 8px;
}

.artist-result:not(:last-child) {
  margin-right: 16px;
}

.select-artist {
  background-color: #84bd00;
}

.artist-image {
  width: 100%;
  height: 204px;
  background-color: #555;
  margin-bottom: 8px;
  border-radius: 2px;
  background-size: cover;
}

.artist-link {
  flex-grow: 1;
  width: 100%;
  background-color: #555;
  border-radius: 2px;
  color: white;
  font: bold 20px Gidole;
}

.artist-link:hover {
  background-color: #666;
}

// Arist Result Buttons

.artist-result-button-wrap {
  justify-content: space-between;
}

.artist-result-button {
  height: 50px;
  width: calc(50% - 8px);
  font: bold 20px Gidole;
  color: white;
  background-color: #222;
  padding: 10px;
  border-radius: 3px;
}

.artist-result-button:hover {
  background-color: #333;
}

.inactive {
  pointer-events: none;
  cursor: default;
  color: #444;
}
