body {
  min-height: 100vh;
  background-color: #111;
  padding: 80px 12vw 40px 12vw;
}

.step {
  justify-content: flex-start;
  padding-bottom: 40px;
}

.step-header-wrap {
  align-items: flex-end;
  padding-bottom: 12px;
}

.step-header {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  color: white;
  font: bold 36px Gidole;
}

.mock {
  position: fixed;
  top: 8px;
  left: 8px;
  background-color: white;
  -webkit-appearance:none;
  width: 32px;
  height: 32px;
  border-radius: 2px;
  background-color: maroon;
}

.mock:checked {
  background-color: green;
}

.mock:focus {
  outline: none;
}

// Artist Search

.artist-search-input {
  width: 100%;
  padding: 8px;
  font: bold 25px Gidole;
  border-radius: 3px;
}

.result-count-wrap span {
  font: bold 24px Gidole;
  color: white;
  white-space: nowrap;
  margin-right: 12px;
}

.result-count {
  font: 20px Gidole;
}

// Artist Result Section

.artist-results-wrap {
  justify-content: flex-start;
  width: 100%;
  height: 300px;
  border: 16px solid #333;
  background-color: #333;
  border-radius: 3px;
  overflow: scroll;
  margin-bottom: 16px;
}

.album-placeholder {
  width: 100%;
  height: 336px;
  background-color: #333;
  border-radius: 3px;
  margin-bottom: 16px;
}

.artist-result {
  position: relative;
  flex-direction: column;
  height: 100%;
  min-width: 220px;
  background-color: #444;
  border-radius: 3px;
  padding: 8px;
}

.artist-result:not(:last-child) {
  margin-right: 16px;
}

.select-artist {
  background-color: $spotify;
}

.artist-image {
  width: 100%;
  height: 204px;
  background-color: #555;
  margin-bottom: 8px;
  border-radius: 2px;
  background-size: cover;
}

.artist-link {
  flex-grow: 1;
  width: 100%;
  background-color: #555;
  border-radius: 2px;
  color: white;
  font: bold 20px Gidole;
}

.artist-link:hover {
  background-color: #666;
}

.artist-overlay {
  @include absolute;
  width: 100%;
  height: 100%;
  padding-bottom: 56px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  color: white;
  font: bold 20px Gidole;
  pointer-events: none;
}

// Action Buttons

.action-button-wrap {
  justify-content: space-between;
}

.action-button {
  height: 50px;
  width: calc(50% - 8px);
  font: bold 20px Gidole;
  color: white;
  background-color: #222;
  padding: 10px;
  border-radius: 3px;
}

.action-button:hover {
  background-color: #333;
}

// Album Result Section

.slider {
  position: relative;
  justify-content: flex-end;
  transition: 1s cubic-bezier(.6, -.1, .6, .1);
}

.album-form {
  justify-content: flex-start;
  min-width: 76vw;
  border: 16px solid #333;
  background-color: #333;
  border-radius: 3px;
  margin: 0 0 16px 24vw;
}

.album-input-wrap {
  flex-direction: column;
  justify-content: flex-start;
  background-color: #222;
  height: 304px;
  width: 100%;
  border-radius: 2px;
  padding: 16px;
}

.album-input-wrap:not(:last-child) {
  margin-right: 16px;
}

.album-input-wrap h2 {
  color: white;
  font: bold 25px Gidole;
}

.album-field-wrap, .media-button-wrap {
  height: 45px;
  width: 100%;
}

.album-field-wrap:nth-child(2), .media-button-wrap {
  margin-top: 16px;
}

.album-field-wrap:not(:last-child), .media-button-wrap {
  margin-bottom: 16px;
}

.album-form label {
  font: bold 20px Gidole;
  color: white;
  width: 120px;
  height: 100%;
  background-color: #333;
  padding: 8px;
  border-radius: 2px;
}

.album-form input, .album-form select {
  flex-grow: 1;
  margin-left: 16px;
  height: 100%;
  border-radius: 2px;
  padding: 8px;
  font: bold 20px Gidole;
  border-width: 3px;
  border-style: solid;
}

.link-icon {
  color: white;
  font-size: 25px;
  margin-left: 8px;
}

.media-button {
  font: bold 20px Gidole;
  color: white;
  background-color: #333;
  height: 100%;
  flex-grow: 1;
  border-radius: 2px;
}

.media-button:hover {
  background-color: #444;
}

.media-button:first-child {
  margin-right: 16px;
}

.album-counter {
  color: white;
  font: bold 24px Gidole;
  min-width: 100px;
  justify-content: flex-end;
}

// Generic

.hidden {
  display: none;
}

.good {
  border-color: #0C6;
}

.bad {
  border-color: #FF4D4D;
}

.neutral {
  border-color: gray;
}

.inactive {
  pointer-events: none;
  cursor: default;
  color: #444;
}
