.login-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.login-wrap:hover .spotify-icon {
  color: #a1e600;
}

.spotify-icon {
  @include flex;
  padding: 7px;
  width: 60px;
  font-size: 60px;
  background-color: #111;
  color: $spotify;
}

.spotify-icon:hover {
  cursor: pointer;
}

.login-button-wrap {
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  padding: 8px;
  transition: 0.2s;
  background-color: #111;
  width: $login-button-width;
}

.login-button {
  flex-grow: 1;
  color: white;
  font: 15px Gidole;
  border: 1px solid white;
  width: 100%;
}

.login-button:not(:last-child) {
  margin-bottom: 8px;
}

.show-login-buttons {
  left: -$login-button-width;
}

.inactive {
  color: gray;
  border-color: gray;
  pointer-events: none;
  cursor: default;
}
