// SIZE RESET

body, button, a, div, h1, input, img {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

// FLEX

header, div, a, i, label {
  @include flex;
}

// GENERAL

button:hover, a:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}
