// MIXINS
@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absolute() {
  position: absolute;
  top: 0;
  left: 0;
}

// SIZING
$login-button-width: 100px;

// COLORS
$spotify: #84bd00;
