@font-face {
  font-family: Dense;
  src: url("../fonts/dense.otf"); }

@font-face {
  font-family: Gidole;
  src: url("../fonts/gidole.otf"); }

body, button, a, div, h1, input, img, span, label, select, h2, form {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

header, div, a, i, label, span, form {
  display: flex;
  justify-content: center;
  align-items: center; }

button:hover, a:hover {
  cursor: pointer; }

button:focus {
  outline: none; }

button {
  background-color: transparent; }

a {
  text-decoration: none; }

.login-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1; }

.login-wrap:hover .spotify-icon {
  color: #a1e600; }

.spotify-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  width: 60px;
  font-size: 60px;
  background-color: #111;
  color: #84bd00; }

.spotify-icon:hover {
  cursor: pointer; }

.logged-in {
  border-color: green; }

.login-button-wrap {
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  padding: 8px;
  transition: 0.2s;
  background-color: #111;
  width: 100px; }

.login-button {
  flex-grow: 1;
  color: white;
  font: 15px Gidole;
  border: 1px solid white;
  width: 100%; }

.login-button:not(:last-child) {
  margin-bottom: 8px; }

.show-login-buttons {
  left: -100px; }

.inactive {
  color: gray;
  border-color: gray;
  pointer-events: none;
  cursor: default; }

.message-box {
  position: fixed;
  top: -50px;
  left: 25vw;
  width: 50vw;
  height: 50px;
  background-color: #333;
  border: 4px solid #84bd00;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.3s;
  font: bold 16px Gidole;
  color: white;
  white-space: nowrap;
  overflow: scroll;
  padding: 8px;
  z-index: 1; }

.show-message {
  top: 0; }

body {
  min-height: 100vh;
  background-color: #111;
  padding: 80px 12vw 40px 12vw; }

.step {
  justify-content: flex-start;
  padding-bottom: 40px; }

.step-header-wrap {
  align-items: flex-end;
  padding-bottom: 12px; }

.step-header {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  color: white;
  font: bold 36px Gidole; }

.mock {
  position: fixed;
  top: 8px;
  left: 8px;
  background-color: white;
  -webkit-appearance: none;
  width: 32px;
  height: 32px;
  border-radius: 2px;
  background-color: maroon; }

.mock:checked {
  background-color: green; }

.mock:focus {
  outline: none; }

.artist-search-input {
  width: 100%;
  padding: 8px;
  font: bold 25px Gidole;
  border-radius: 3px; }

.result-count-wrap span {
  font: bold 24px Gidole;
  color: white;
  white-space: nowrap;
  margin-right: 12px; }

.result-count {
  font: 20px Gidole; }

.artist-results-wrap {
  justify-content: flex-start;
  width: 100%;
  height: 300px;
  border: 16px solid #333;
  background-color: #333;
  border-radius: 3px;
  overflow: scroll;
  margin-bottom: 16px; }

.album-placeholder {
  width: 100%;
  height: 336px;
  background-color: #333;
  border-radius: 3px;
  margin-bottom: 16px; }

.artist-result {
  position: relative;
  flex-direction: column;
  height: 100%;
  min-width: 220px;
  background-color: #444;
  border-radius: 3px;
  padding: 8px; }

.artist-result:not(:last-child) {
  margin-right: 16px; }

.select-artist {
  background-color: #84bd00; }

.artist-image {
  width: 100%;
  height: 204px;
  background-color: #555;
  margin-bottom: 8px;
  border-radius: 2px;
  background-size: cover; }

.artist-link {
  flex-grow: 1;
  width: 100%;
  background-color: #555;
  border-radius: 2px;
  color: white;
  font: bold 20px Gidole; }

.artist-link:hover {
  background-color: #666; }

.artist-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 56px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  color: white;
  font: bold 20px Gidole;
  pointer-events: none; }

.action-button-wrap {
  justify-content: space-between; }

.action-button {
  height: 50px;
  width: calc(50% - 8px);
  font: bold 20px Gidole;
  color: white;
  background-color: #222;
  padding: 10px;
  border-radius: 3px; }

.action-button:hover {
  background-color: #333; }

.slider {
  position: relative;
  justify-content: flex-end;
  transition: 1s cubic-bezier(0.6, -0.1, 0.6, 0.1); }

.album-form {
  justify-content: flex-start;
  min-width: 76vw;
  border: 16px solid #333;
  background-color: #333;
  border-radius: 3px;
  margin: 0 0 16px 24vw; }

.album-input-wrap {
  flex-direction: column;
  justify-content: flex-start;
  background-color: #222;
  height: 304px;
  width: 100%;
  border-radius: 2px;
  padding: 16px; }

.album-input-wrap:not(:last-child) {
  margin-right: 16px; }

.album-input-wrap h2 {
  color: white;
  font: bold 25px Gidole; }

.album-field-wrap {
  height: 45px;
  width: 100%; }

.album-field-wrap:nth-child(2) {
  margin-top: 16px; }

.album-field-wrap:not(:last-child) {
  margin-bottom: 16px; }

.album-form label {
  font: bold 20px Gidole;
  color: white;
  width: 120px;
  height: 100%;
  background-color: #333;
  padding: 8px;
  border-radius: 2px; }

.album-form input, .album-form select {
  flex-grow: 1;
  margin-left: 16px;
  height: 100%;
  border-radius: 2px;
  padding: 8px;
  font: bold 20px Gidole; }

.link-icon {
  color: white;
  font-size: 25px;
  margin-left: 8px; }

.media-button-wrap {
  flex-direction: column;
  height: 228px;
  flex-grow: 1;
  justify-content: flex-start; }

.spotify-wrap {
  margin-top: 16px;
  width: 100%; }

.media-button {
  font: bold 20px Gidole;
  color: white;
  background-color: #333;
  height: 45px;
  border-radius: 2px;
  padding: 0 16px;
  width: 100%; }

.media-button:hover {
  background-color: #444; }

.media-button:not(:last-child) {
  margin-bottom: 16px; }

.album-counter {
  color: white;
  font: bold 24px Gidole;
  min-width: 100px;
  justify-content: flex-end; }

.spotify-art {
  border-radius: 2px;
  background-color: #333;
  height: 228px;
  width: 228px;
  margin-right: 16px;
  border: 8px solid #333;
  background-size: cover;
  background-repeat: none;
  background-position: center; }

.art-select {
  border-color: #84bd00; }

.hidden {
  display: none; }

.good {
  border-color: #0C6; }

.bad {
  border-color: #FF4D4D; }

.neutral {
  border-color: gray; }

.inactive {
  pointer-events: none;
  cursor: default;
  color: #444; }
