{{>login}}

<section class="step">
  <div class="step-header-wrap">
    <h1 class="step-header">1. Search For A Composer</h1>

    <div class="result-count-wrap">
      <span>Number of Results</span>
      <select id="result-count" class="result-count">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3" selected>3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
    </div>
  </div>

  <input type="text" id="artist-search" class="artist-search-input" autocomplete="off">
</section>

<section class="step">
  <div class="step-header-wrap">
    <h1 class="step-header">2. Choose A Composer</h1>
  </div>

  <div class="artist-results-wrap" id="artist-results"></div>

  <div class="action-button-wrap">
    <button id="artist-result-add" class="action-button inactive">Add To Database</button>
    <button id="artist-result-search" class="action-button inactive">Search For Albums</button>
  </div>
</section>

<section class="step">
  <div class="step-header-wrap">
    <h1 class="step-header">3. Add Albums</h1>
    <span class="album-counter">0 / 0</span>
  </div>

  <div class="album-results-wrap">
    <div class="album-input-wrap discogs">
      <h2>GENERAL INFO</h2>
      <div class="album-field-wrap">
        <label for="album-input-title">Title</label>
        <input type="text" name="title" class="good" id="album-input-title">
      </div>

      <div class="album-field-wrap">
        <label for="album-input-year">Year</label>
        <input type="text" name="year" class="good" id="album-input-year">
      </div>

      <div class="album-field-wrap">
        <label for="album-input-category">Category</label>
        <select name="category" class="bad" id="album-input-category">
          <option>Choose A Category</option>
          <option value="film">Film</option>
          <option value="game">Game</option>
          <option value="tv">TV</option>
        </select>
      </div>

      <div class="album-field-wrap">
        <label for="album-input-discogs_id">Discogs ID</label>
        <input type="text" name="discogs_id" class="good" id="album-input-discogs_id">
      </div>
    </div>

    <div class="album-input-wrap spotify">
      <h2>MEDIA INFO</h2>
      <div class="media-button-wrap">
        <button class="media-button">Query Spotify</button>
        <button class="media-button">Check Result</button>
      </div>

      <div class="album-field-wrap">
        <label for="album-input-spotify_id">Spotify ID</label>
        <input type="text" name="spotify_id" class="neutral" id="album-input-spotify_id">
      </div>

      <div class="album-field-wrap">
        <label for="album-input-artwork">Artwork URL</label>
        <input type="text" name="year" class="neutral" id="album-input-artwork">
      </div>
    </div>
  </div>

  <div class="action-button-wrap">
    <button id="album-result-add" class="action-button">Add To Database</button>
    <button id="album-result-skip" class="action-button">Skip This Album</button>
  </div>
</section>

<script type="text/javascript" src="./index.js"></script>
