{{>login}}

<section class="step">
  <div class="artist-search-headers">
    <h1 class="step-header">1. Search For A Composer</h1>
    <div class="result-count-wrap">
      <span>Number of Results</span>
      <select id="result-count" class="result-count">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
    </div>
  </div>

  <input type="text" id="artist-search" class="artist-search-input" autocomplete="off">
</section>

<section class="step">
  <h1 class="step-header">2. Select A Composer</h1>

  <div class="artist-results-wrap" id="artist-results"></div>

  <div class="artist-result-button-wrap">
    <button class="artist-result-button">Add To Database</button>
    <button class="artist-result-button">Search For Albums</button>
  </div>
</section>

<script type="text/javascript" src="./index.js"></script>
