{{#unless token}}
  <div class="login-wrap">
    <i class="fa fa-spotify"></i>
    <a class="login-button" href="/spotify">Sign In</a>
  </div>
{{/unless}}

<script type="text/javascript" src="./index.js"></script>
