{{>login}}

<!-- SEARCH -->
<section class="step">
  <div class="step-header-wrap">
    <h1 class="step-header">1. Search For A Composer</h1>

    <div class="result-count-wrap">
      <span>Number of Results</span>
      <select id="result-count" class="result-count">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3" selected>3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
    </div>
  </div>

  <input type="text" id="artist-search" class="artist-search-input" autocomplete="off" value="Hans Zimmer">
</section>

<!-- ARTISTS -->
<section class="step">
  <div class="step-header-wrap">
    <h1 class="step-header">2. Choose A Composer</h1>
  </div>

  <div class="artist-results-wrap" id="artist-results"></div>

  <div class="action-button-wrap">
    <button id="artist-result-add" class="action-button inactive">Add To Database</button>
    <button id="artist-result-search" class="action-button inactive">Search For Albums</button>
  </div>
</section>

<!-- ALBUMS -->
<section class="step">
  <div class="step-header-wrap">
    <h1 class="step-header">3. Add Albums</h1>
    <span id="album-counter" class="album-counter">0 / 0</span>
  </div>

  <div id="slider" class="slider">
    <div class="album-placeholder"></div>
  </div>

  <div class="action-button-wrap albums">
    <button id="album-result-add" class="action-button inactive">Add To Database</button>
    <button id="album-result-skip" class="action-button inactive">Skip This Album</button>
  </div>
</section>

<!-- SCRIPTS -->
<script type="text/javascript" src="./scripts/index.js"></script>
<script type="text/javascript" src="./scripts/login.js"></script>
<script type="text/javascript" src="./scripts/artists.js"></script>
<script type="text/javascript" src="./scripts/albums.js"></script>
