{{>login}}

<section class="artist-search">
  <label>Search For A Composer
    <input type="text" id="artist-search" autocomplete="off">
  </label>

  <div class="artist-results-wrap" id="artist-results"></div>
</section>

<script type="text/javascript" src="./index.js"></script>
