{{>login}}

<section class="artist-search">
  <label>Search For A Composer
    <input type="text">
  </label>

  <div class="artist-results-wrap">
    <div class="artist-result">
      <img class="artist-image" />
      <a class="artist-link">Hans Zimmer</a>
    </div>
    <div class="artist-result">
      <img class="artist-image" />
      <a class="artist-link">Hans Zimmer</a>
    </div>
  </div>
</section>

<script type="text/javascript" src="./index.js"></script>
